*{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body{
    background: #080808;
    color:white;
}
.container{
    padding: 10px 5%;

}

.logo{
    width: 200px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

nav ul li a:hover{
    color: rgb(134, 247, 255);
    text-decoration: none;
    font-size: 18px;
    
}

.header-text{
    margin-top: 10%;
    margin-left: 5%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: rgb(134, 247, 255);

}

/* -------------------about-------------------*/
#about{
    padding: 0px 0;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (max-width: 50em) {
    .logo{
        width: 100px;
    }

    .row{
        display: block;
        
    }

    .header-text{
        margin-top: 10%;
        margin-left: 5%;
        font-size: 15px;
    }

    .header-text h1{
        font-size: 30px;
        margin-top: 20px;
    }
    
    .about-col-1{
        padding: 30px 0px;
        font-size: 15px;
        max-width: 300px;
    }
    
    .about-col-2 video{
       max-width: 300px;
        
    }
    
}
.about-col-1{
    padding: 30px 0px;
    flex-basis: 65%;

}
.about-col-1 p{
    line-height: 24px;

}
.about-col-2{
    flex-basis: 35%;
}

.about-col-2 video{
    width: 100%;
    
}

#about nav{
    padding: 15px 0px;
}

#about button{
    padding-bottom: 5px;
    background-color: #1e1e1e;
    padding: 5px 5px;
}

ul li span{
    flex-direction: row;
    font-size: 22px;
    text-decoration: none;
    border: 2px solid;
    border-radius: 7px;
    padding: 0 8px;
    
}
ul li span:hover{
    color: white;
}


/* -------------------projects-------------------*/


.personal-projects{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



.card{
    
    background-color: #1e1e1e;
    max-width: 495px;
    max-height: 525px;
    margin: 100px 10px;
    
}



.card video{
    max-width: 495px;
}

@media (max-width: 50em) {
    
    .personal-projects{
        display: block;
        justify-content: center;
    }
    
    .card{
    
        background-color: #1e1e1e;
        max-width: 300px;
        max-height: 545px;
        margin: 100px 10px;
        
    }
    
    
    
    .card video{
        max-width: 300px;
    }
}

.card h2{
    padding-left: 15px;
}

.card h2 span{
    font-size: 15px;
    color: rgb(197, 197, 197);
}

.card p{
    padding-left: 15px;
}

#projects h1{
    margin-top: 100px;
    text-align: center;
}

.description{
    padding: 10px;
    font-size: 15px;
}

.personal-projects a{
    text-decoration: none;
    color: white;
}
.personal-projects a:hover{
    color: rgb(134, 247, 255);
    
}